@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    font-family: 'montserrat' sans-serif;
} 
.nav-bar {
    border: solid #ffffff;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.05);
    /* padding: 1.25rem; */
    position: relative;
    left: 0px;
    top: 0px;
    width: 79.75rem;
    height: 90px;
}
.container {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: flex-start; */
    padding: 0px;
    gap: 40px;
    position: relative;
    width: 1100px;
    height: 51px;
    left: 100px;
    top: 32px;
}

.aa {
    position: relative;
    left: 6.35rem; 
    /* border: 1px solid red;
    height: px;
    width: px; */
    z-index: 0;
}
.img-container {
    display: flex;
    align-items: center;
}
.footer {
    background-color: #112D35;
    color: #FFFFFF;
    /* padding: 90px; */
    position: relative;
    bottom: 0; 
    width: 100.5%;
    border-top: 1px solid #112D35;
    margin-top: 2px; 
    height: 750px;
    z-index: 0;
}
.container2 {
    /* background: #F7F7FE; */
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 560px;
    margin-top: -1755px;
    z-index: 10;
}
#form {
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 100px;
    padding-bottom: 1200px;
    background-color: #F7F7FE;
    /* border-radius: 10px; */
    font-size: 10px;
    z-index: 10px;
}
#form h1 {
    color: #112D35;
    font-size: 26px;
    font-weight: 700;
    font-family: sans-serif;
}
#form button {
    padding: 10px;
    margin-top: 30px;
    width: 320px;
    height: 35px;
    color: #ffffff;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    background-color: #1F94AA;
    border-radius: 50px;
    border: none;
}
.input-control {
    display: flex;
    flex-direction: column;
    line-height: 30px;
}
.input-control input {
    border: 2px solid #ffffff;
    border-radius: 10px;
    display: block;
    font-size: 10px;
    padding: 10px;
    width: 100%;
    
}
.input-control input:focus {
    outline: 0;
}
#resume::placeholder {
    font-family: sans-serif;
    text-align: center;

}
#phone {
    background-image: url(flag.png);
    background-repeat: no-repeat;
    background-position: 0 7px;

}
